{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div id="change_pass">
        <h2 class="mb-2"><strong>Changer mot de passe</strong></h2>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {{ form_start(form) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}
        <button class="btn btn-secondary btn-lg btn-block mt-3" type="submit">
            <strong>Enregistrer les modifications</strong>
        </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
