<div id="quick_user" class="d-flex">
    <h4>{{ app.user.displayName }}</h4>
    <i class="bi bi-caret-down-square-fill mx-1"></i>
</div>
<div id="quick_user_modal" style="display: none" class="p-2">
    <ul>
        <li>
            <img src="{{ "images/user/" ~ app.user.picture }}" alt="">
            <div>
                <strong class="p-0 m-0">{{ app.user.displayName }}</strong>
                {{ app.user.email }}
            </div>
        </li>
        <li>
            <i class="bi bi-person"></i>
            <a href="{{ path('profile_' ~  app.user.type | replace({'admin': 'iscom'})) }}" class="h6">Compte</a>
        </li>
        <li>
            <i class="bi bi-question-octagon"></i>
            <a href="{{ path('help') }}" class="h6">Aide</a>
        </li>
        <li>
            <i class="bi bi-file-earmark-medical"></i>
            <a href="{{ path('cgu') }}" class="h6">Condition d'utilisation</a>
        </li>
        <li>
            <i class="bi bi-bar-chart-line"></i>
            <a href="{{ path('app_logout') }}" class="h6">Se déconnecter</a>
        </li>
    </ul>
</div>
<script type="text/javascript">
    document.getElementById("quick_user").addEventListener('click', e => {
        document.getElementById("quick_user_modal").style.display =
            document.getElementById("quick_user_modal").style.display === "none"
            ? "block"
            : "none";
        e.preventDefault();
    });
</script>